<!DOCTYPE html>
<html lang="en">
<head>
  <title>e-Sports Sports Shoes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
     .navbar {
     
      margin-bottom: 50px;
      border-radius: 0;
    }
   
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #d6eb34;
      padding: 25px;
    }
  </style>
</head>
<body style="background-color: #d6eb34">
<div class="w-50 p-3" style="background-color: #eb5c34">
  		<div class="container text-center">
    		<h1>e-Sport - Sports Shoes </h1>      
    		<p>Focus on  Quality and Comfort - Simply The Best</p>
      </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a th:href="@{/}">Home</a></li> 
        <li><a th:href = "@{/adminlogin}"> Admin</a></li>
       <!--  <li><a href="#">Products</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="#">Contact</a></li>
 -->      </ul>
      <ul class="nav navbar-nav navbar-right">
        	<li><a  th:href="@{/customerregisteration}"><span class="glyphicon glyphicon-user"></span> Account / CheckOut</a></li>
        	<li ><a th:href="@{/showcartitems}"> <span th:text="' '+ ${#lists.size(cartlist)}" class="glyphicon glyphicon-shopping-cart" style="color:#ADFF2F; background:black" ></span> </a>  	
        	</li>

      </ul>
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">			
	<th:block th:each="category : ${productbycategory}">
	    <div class="col-sm-3">
      		<div class="panel panel-primary">	
        		<div class="panel-heading"> 
        			<h2 th:text=" ${category.key} "></h2>
        		</div>
       	 		<div class="panel-body">
       	 			Sports Shoes
       	 			<p th:text="${#lists.size(category.value)}"  class="btn btn-primary"></p>   		   
       	 		</div>
        		<div class="panel-footer">				
 <!--        	<a th:href="@{/selectCategoryForm/{bucket}(bucket=${category.key})}"class="btn btn-primary"> Buy </a>
	 -->		
				 <a th:href="@{/selectCategoryForm/{bucket}(bucket=${category.key})}"class="btn btn-primary"> Buy </a>
		
				</div>    		
     	 	</div>
    	</div>        
	</th:block>		
  </div> 
</div>

<br><br>
<br><br>

<footer class="container-fluid text-center" >
 
  <p>e-Sport - Sports Shoes Copyright</p>  
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>

</body>
</html>
